{{block "index" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/css/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        })
    </script>
    <title>Main page</title>
</head>
<body>
    {{ if .Values.requestType }}
        {{ template "form" .}}
    {{ else }}
    <div class="main-container">
        <div class="main-container-head">
            <h1 class="main-container-head">MEPhI portal</h1>
            <div class="username">
                {{ if not .Values.username }}
                <a class="auth" href="/login" hx-push-url="true">Login</a>
                <a class="auth" href="/register" hx-push-url="true">Register</a>
                {{ else }}
                <a class="auth" href="/logout" hx-push-url="true">Logout</a>
                {{ end }}
            </div>
        </div>
        <div class="main-container-body">
            <div class="main-container-menu">
                    {{ if .Values.username }}
                    <a href="/profile/{{ .Values.username }} ">
                    <div class="menu-endpoint"> <!--replace push url to true-->
                        <h3>My profile</h3>
                    </div>
                    </a>
                    {{ end }}
                    <div class="menu-endpoint" hx-get="/" hx-target="body" hx-push-url="true" hx-swap="outerHTML">
                        <h3>Main page</h3>
                    </div>
                    <div class="menu-endpoint" hx-get="/marketplace" hx-target=".main-container-interaction" hx-swap="innerHTML">
                        <h3>Marketplace</h3>
                    </div>
            </div>
            <div class="main-container-interaction">
                {{ if .Values.marketplace }}
                    {{ template "marketplace-table" . }}
                {{ end }}
                <h1>Main page of the site</h1>
            </div>
        </div>
        <div class="main-container-footer">

        </div>
    </div>
    {{ end }}
</body>
</html>
{{ end }}

{{ block "form" . }}
    <div class="input-auth-form">
        <form class="input-auth-form" hx-post="/{{ .Values.requestType }}" hx-target=".input-auth-form" hx-swap="outerHTML" hx-push-url="true">
                Login: <input
                {{if .Values.login}}value="{{ .Values.login }}" {{ end }}
                type="text" name="login" required>
                Password: <input
                {{if .Values.password}}value="{{ .Values.password }}" {{ end }}
                type="password" name="password" minlength="8" required>
            {{ if .Errors.error }}
            <div style="color: red">{{ .Errors.error }}</div>
            {{ end }}
            <button type="submit">Sign in</button>
        </form>
    </div>
{{ end }}


