{{block "marketplace-view" .}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../views/css/style.css">
        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function (evt) {
                    if (evt.detail.xhr.status === 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            })
        </script>
        <title>Маркетплейс</title>
    </head>
    <body>
    <div class="main-container">
        <div class="main-container-head">
            <h1 class="main-container-head">MEPhI portal</h1>
            <div class="username">
                {{ if not .Values.username }}
                <a class="auth" style="color: ghostwhite;" href="/login" hx-push-url="true">Login</a>
                <a class="auth" style="color: ghostwhite;" href="/register" hx-push-url="true">Register</a>
                {{ else }}
                <a class="auth" style="color: ghostwhite;" href="/logout" hx-push-url="true">Logout</a>
                {{ end }}
            </div>
        </div>
        <div class="main-container-body">
            <div class="main-container-menu">
                <div class="main-container-menu-buttons">
                    {{ if .Values.username }}
                    <a class="menu-endpoint" href="/profile/{{ .Values.username }} " style="text-decoration: none; color: black; ">
                        <div class="menu-endpoint"> <!--replace push url to true-->
                            <h3 style="color: #232323;">Мой профиль</h3>
                        </div>
                    </a>
                    {{ end }}
                    <div class="menu-endpoint" hx-get="/" hx-target="body" hx-push-url="true" hx-swap="outerHTML">
                        <h3 style="color: #232323;">Лента</h3>
                    </div>
                    <a class="menu-endpoint" href="/marketplace" style="text-decoration: none; color: black;">
                        <div class="menu-endpoint">
                            <h3 style="color: #232323;">Маркетплейс</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-interaction">
                {{ template "marketplace-buttons" . }}
                {{ template "marketplace-table" . }}
            </div>
        </div>
        <div class="main-container-footer">

        </div>
    </div>
    </body>
    </html>
{{ end }}

{{ block "marketplace-buttons" . }}
    <div class="marketplace-buttons-container">
        <div class="marketplace-button" hx-get="/marketplace/create" hx-swap="innerHTML" hx-target=".marketplace-table">
            <h3>Создать объявление</h3>
        </div>
        <a class="marketplace-button" href="/marketplace/products/{{ .Values.username }}" style="text-decoration: none; color: black;">
            <div>
                <h3>Мои товары</h3>
            </div>
        </a>
        <a class="marketplace-button" href="/marketplace/orders/"
           style="text-decoration: none; color: black;">
            <div>
                <h3>Мои покупки</h3>
            </div>
        </a>
        <a class="marketplace-button" href="/marketplace/sales/"
           style="text-decoration: none; color: black;">
            <div>
                <h3>Мои продажи</h3>
            </div>
        </a>
    </div>
{{ end }}

{{ block "marketplace-table" .}}
<div class="marketplace-table">
    {{ if .Products }}
        {{ range .Products }}
            {{ template "marketplace-item" .}}
        {{ end }}
    {{ else }}
    <div class="no-content">
        <h1 style="color:red">{{ .Errors.error }}</h1>
    </div>
    {{ end }}
</div>
{{ end }}

{{ block "marketplace-item" .}}
<a class="menu-endpoint" href="/marketplace/product/{{ .Id }}" style="text-decoration: none; color: black; height: 250px">
    <div class="marketplace-item" id="product-{{ .Id }}">
        <img class="marketplace-item" src="/data/img/{{ .MainPhoto }}">
        <div class="item-info">
            <div class="item" style="padding-top: 5%; font-size: 18px">{{ .Name }}</div>
            <div class="item" style="padding-top: 30%">{{ .Price }}₽</div>
        </div>
    </div>
</a>
{{ end }}

{{ block "marketplace-form-add" . }}
<div class="marketplace-form-add-container">
    <form action="/marketplace/create" method="post" enctype="multipart/form-data" hx-swap="outerHTML">
        <label for="name" style="font-size: 24px">Название</label>
        <input {{if .Values.name}} value="{{ .Values.name }}" {{ end }}
               type="text" id="name" minlength="4" name="name" placeholder="Название товара (от 4 символов)" style="width: 300px; font-size: 18px" required>
        <label for="price" style="font-size: 24px">Цена</label>
        <input {{if .Values.price}} value="{{ .Values.price}}" {{ end }}
               type="number" min="1" max="100000" id="price" name="price" style="font-size: 18px" required>
        <label for="description" style="font-size: 24px">Описание</label>
        <textarea id="description" name="description" minlength="4" placeholder="Введите описание товара" rows="5" cols="30" style="resize: none; font-size: 18px" required></textarea>
        <label for="file" style="font-size: 24px">Фотография товара</label>
        <input type="file" id="file" name="files" multiple required><br><br>
        <span class="error">{{ .Errors.imageUploadError }}</span>
        <button type="submit">Сохранить изменения</button>
        <div>
            {{ if .Errors.error }}
            <div style="color: red">{{ .Errors.createError }}</div>
            {{ end }}
        </div>
    </form><br>
    <a href="/marketplace">
        <button type="button">Отменить</button>
    </a>
</div>
{{ end }}

