{{block "marketplace-item-page" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../views/css/style.css">
    <script defer src="../../views/js/index.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        })
    </script>
    <title>{{ .Values.name }}</title>
</head>
<body>
<div class="main-container">
    <div class="main-container-head">
        <h1 class="main-container-head">MEPhI portal</h1>
        <div class="username">
            {{ if not .Values.username }}
            <a class="auth" style="color: ghostwhite;" href="/login" hx-push-url="true">Login</a>
            <a class="auth" style="color: ghostwhite;" href="/register" hx-push-url="true">Register</a>
            {{ else }}
            <a class="auth" style="color: ghostwhite;" href="/logout" hx-push-url="true">Logout</a>
            {{ end }}
        </div>
    </div>
    <div class="main-container-body">
        <div class="main-container-menu">
            <div class="main-container-menu-buttons">
                {{ if .Values.username }}
                <a class="menu-endpoint" href="/profile/{{ .Values.username }} "
                   style="text-decoration: none; color: black;">
                    <div class="menu-endpoint"> <!--replace push url to true-->
                        <h3 style="color: #232323;">My profile</h3>
                    </div>
                </a>
                {{ end }}
                <div class="menu-endpoint" hx-get="/" hx-target="body" hx-push-url="true" hx-swap="outerHTML">
                    <h3 style="color: #232323;">Main page</h3>
                </div>
                <a class="menu-endpoint" href="/marketplace" style="text-decoration: none; color: black;">
                    <div class="menu-endpoint">
                        <h3 style="color: #232323;">Marketplace</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="main-container-interaction">
            {{ template "marketplace-item-page-buttons" . }}
            {{ template "marketplace-item-page-data" . }}
        </div>
    </div>
    <div class="main-container-footer">

    </div>
</div>
</body>
</html>
{{ end }}

<!--TODO: сделать цикл пробежки по картинкам, чтобы создавались одинаковые фотки-->
{{ block "marketplace-item-page-data" . }}
<div class="marketplace-item-page">
    <!--    <div class="marketplace-item-page-header">-->
    <!--        <div id="item-name">{{ .Values.name }}</div><br>-->
    <!--    </div>-->
    <img src="/data/img/{{ .Values.mainPhoto }} " style="width: 450px; height: 450px;">
    <div class="marketplace-item-page-body">
        <div id="item-name">{{ .Values.name }}</div>
        <br>
        <div id="item-description" style="width: 100%; font-size: 24px">{{ .Values.description }}</div>
        <br>
        <div class="item-page-footer-interaction">
            <div id="item-photoUrls"> {{ .Values.photoUrls }}</div>
            <div id="item-price" style="font-size: 36px; margin-bottom: 30px">Цена: {{ .Values.price }}₽</div>
            {{ if .Values.currentUserIsOwner }}
            <a class="delete-product" hx-delete="/marketplace/product/{{ .Values.id }}/delete" hx-swap="outerHTML"
               hx-target=".delete-product">
                <button type="button">Delete product</button>
            </a>
            {{ end }}
            <!--Начало блока с модальным окном-->
            <button type="button" id="create-order-btn">Order product</button>
            <div class="modal" id="order-form">
                <div class="modal__box">
                    <button type="button" class="modal__close-btn" id="close-order-form-btn">Close</button>
                    <h2>My model window</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse nec purus vitae augue consectetur mattis.
                        Fusce tincidunt metus vitae finibus placerat.
                        Donec quam ex, venenatis eu velit vel, vehicula rhoncus tellus.
                        Morbi eget metus posuere, commodo neque vitae, euismod odio.
                        Duis tempus gravida turpis, a dignissim neque rutrum nec.
                        Cras cursus sollicitudin augue, at bibendum odio.
                        Vestibulum nec tincidunt nibh.
                        Vivamus vel ligula eget libero eleifend ultricies.
                        Phasellus sem nulla, interdum et iaculis et, venenatis et justo.
                        Morbi tristique enim et ipsum elementum gravida.
                        Maecenas eget ex tincidunt magna ullamcorper dapibus.
                        Duis consectetur tristique nisi. Duis eget dolor tellus. Vivamus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="marketplace-item-page-footer">

    </div>
    <div>
        {{ if .Errors.error }}
        <div style="color: red">{{ .Errors.createError }}</div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ block "marketplace-item-page-buttons" . }}
<div class="marketplace-buttons-container">
    <div class="marketplace-button" hx-get="/marketplace/create" hx-swap="innerHTML" hx-target=".marketplace-item-page">
        <h3>Add product</h3>
    </div>
    <a class="marketplace-button" href="/marketplace/products/{{ .Values.username }}"
       style="text-decoration: none; color: black;">
        <div>
            <h3>My products</h3>
        </div>
    </a>
    <a class="marketplace-button" href="/marketplace/orders/"
       style="text-decoration: none; color: black;">
        <div>
            <h3>My orders</h3>
        </div>
    </a>
</div>
{{ end }}

