body {
    font-family: Corbel, sans-serif !important;
    font-weight: 400 !important;
    background-color: rgba(242, 247, 255, 0.32);
    overflow: hidden; /* scroll чтобы вернуть скролл*/
}

div.input-auth-form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

div.form-field {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.main-container {
}

h1.main-container-head {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: ghostwhite;
}

div.main-container-head {
    background-color: #012E4A;
    margin-top: -20px;
}

a.auth {
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

div.main-container-footer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

div.menu-endpoint {
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
}

div.main-container-body {
    display: flex;
    flex-direction: row;
}

div.main-container-menu {
    width: 150px;
    height: 100vh;
}

div.main-container-menu-buttons {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
}

div.menu-endpoint:hover {
    background: rgb(235, 240, 248);
    border-radius: 5%;
}

a.menu-endpoint {
    border-radius: 5%;
    text-decoration: none;
}

a.menu-endpoint:hover {
    background: rgb(235, 240, 248);
    border-radius: 5%;
}

div.marketplace-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.marketplace-item {
    width: auto;
    margin-left: 5px;
    height: 300px;
    cursor: pointer;
    /*TODO: реализовать алгоритм сохранения картинок к айди*/
}

article.item {
    width: 100px;
}

img.marketplace-item {
    vertical-align: top;
    width: 150px;
    height: auto;
}

div.profile-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}

div.edit-button {
    border: 2px solid darkgray;
    height: 40px;
    cursor: pointer;
}

div.marketplace-buttons-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

div.marketplace-button {
    text-align: center;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

a.marketplace-button {
    text-align: center;
    width: 200px;
    height: 40px;
}

div.marketplace-button:hover {
    background: rgb(235, 240, 248);
}

a.marketplace-button:hover {
    background: rgb(235, 240, 248);
}

div.main-container-interaction {
    width: 100vw;
}