body {
    font: Arial, sans-serif;
    overflow: hidden; /* scroll чтобы вернуть скролл*/
}

div.input-auth-form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

div.form-field {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.main-container {
    border: 4px dashed red;
}

h1.main-container-head {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

div.main-container-head {
    background-color: #c8c8b6;
    margin-top: -20px;
}

a.auth {
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

div.main-container-footer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

div.menu-endpoint {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

div.main-container-body {
    display: flex;
    flex-direction: row;
}

div.main-container-menu {
    width: 150px;
    background: #e6e7d0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.marketplace-table {
    display: flex;
    width: auto;
}

div.marketplace-item {
    width: 100px;
    border: 2px solid darkgray;
    height: 100px;
    cursor: pointer;
    /*TODO: реализовать алгоритм сохранения картинок к айди*/
}

img.marketplace-item {
    vertical-align: top;
    width: 100px;
    height: auto;
}

div.profile-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}

div.edit-button {
    border: 2px solid darkgray;
    height: 40px;
    cursor: pointer;
}

div.marketplace-buttons-container {
    background-color: #ececd3;
    width: 100%;
    display: flex;
    justify-content: right;
}

div.marketplace-button {
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: burlywood;
    border: 2px solid darkgray;
    cursor: pointer;
}

div.main-container-interaction {
    width: 100vw;
}